[user]
  email = gregdiamond29@gmail.com
  name = Greg Diamond

[diff]
  tool = vimdiff
[pager]
  diff = false
[difftool]
  prompt = false
[push]
  default = simple
[merge]
  tool = vimdiff
[core]
	excludesfile = /Users/greg/.gitignore
